/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: white;
}

/* Add this to your global styles */
*, *::before, *::after {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363636; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #727272; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a; 
}